@media only screen and (max-device-width: 500px){
  
  #photos{
    flex-direction: column;
    justify-content: center;
  }

  .photo{
    flex-grow: 1;
  }

  #buttons{
    justify-content: center;
  }

  header button{
    margin-bottom: 10px;
  }  
}

body {
  margin: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(228, 228, 228, 1) 25%,
    rgba(190, 190, 190, 1) 50%,
    rgba(139, 139, 139, 1) 75%,
    rgb(44, 44, 44) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

.icone {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;

  filter: invert(1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  padding: 7px;
  flex-basis: 33.333333%;
  align-self: center;
}

.photo img:hover {
  border: 1px solid rgb(0, 235, 0);
}

.photo img {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #555555 !important;
}

header button {
  margin-right: 10px;
  font-family: 'Work Sans', sans-serif;
}