@media only screen and (max-device-width: 500px){

  #photos{
    flex-direction: column;
    justify-content: center;
  }

  .photo{
    flex-grow: 1;
  }

  #buttons{
    justify-content: center;
  }

  header button{
    margin-bottom: 10px;
  }
}

#photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

body {
  margin: 10px;
  background: black;
}

.icone {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;

  filter: invert(1);
}

.photo {
  padding: 7px;
  flex-basis: 33.333333%;
  align-self: center;
}

.photo img:hover {
  border: 1px solid rgb(0, 235, 0);
}

.photo img {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #555555 !important;
}

header button {
  margin-right: 10px;
  font-family: 'Work Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(#383838, #7d7d7d);
}
body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}