@media only screen and (max-device-width: 900px) {
  .container {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  #social .col {
    width: 80px;
    height: 80px;
    flex-grow: 3;
  }

  .col {
    width: 120px;
    height: 232px;
    flex-grow: 3;
  }

  .col img {
    height: 170px;
  }

  #social img {
    height: 70px;
  }
}

body {
  background: rgb(0, 0, 0);
}

.col {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Work Sans", sans-serif;
}

.col:hover img {
  border: rgb(0, 201, 43) solid 1px;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 20vh;
  width: 70vw;
}

#social img {
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 70vh;
}

.row {
  align-self: center;
  text-align: center;
  flex-wrap: nowrap;
}

img {
  height: 200px;
}

.invertImg{
  filter: invert();
}

.titulo {
  font-size: 25px;
  color: white;
}

#hm{
  font-size: x-small;
    padding-left: 6rem;
}

/* Modal backdrop */
.modal-backdrop {
  opacity: 0.5;
  background-color: #000;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}

/* Modal header */
.modal-header {
  background-color: #f8f9fa;
  border-bottom: none;
}

/* Modal title */
.modal-title {
  color: #333;
  font-weight: bold;
}

/* Modal body */
.modal-body {
  color: #555;
}

.modal-content .modal-body img {
  border: none;
}

#modal-icon{
  width: 10%;
  height: 10%;
  filter:grayscale(1)
}

#modal-icon:hover{
  filter:grayscale(0);
  border: 0.5px solid black;
}

#bsky:hover {
  filter: invert(1);
  filter: grayscale(0.5);
  border: 0.5px solid black;
  transition: 0.5s;
  /* transform: scale(1.1); */
}
