@media only screen and (max-device-width: 500px){
  .playlist img{
    width: 50px;
    height: 50px;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgb(7, 1, 17) 51%,
    rgb(14, 1, 37) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

#botoes img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;
  filter :invert(1)
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 38px;

  font-family: 'Work Sans', sans-serif;
}

header button {
  margin-right: 10px;
}

h1,h2 {
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.playlists{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 60px;
}

.playlist{
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  order: 4;
  margin-left: 80px;
  margin-bottom: 20px;
}

.playlist img{
  width: 400px;
  height: 400px;
}

img[data-color]:hover {
  border: 5px solid;
}

img[data-color="#12beaf"]:hover {
  border-color: #12beaf;
}

img[data-color="#778686"]:hover {
  border-color: #778686;
}

img[data-color="#f2036f"]:hover {
  border-color: #f2036f;
}

img[data-color="#d9a4ba"]:hover {
  border-color: #d9a4ba;
}

img[data-color="#d35978"]:hover {
  border-color: #d35978;
}

img[data-color="#f09522"]:hover {
  border-color: #f09522;
}

img[data-color="#bc2b23"]:hover {
  border-color: #bc2b23;
}

img[data-color="#254276"]:hover {
  border-color: #254276;
}