@media only screen and (max-device-width: 500px){
  .playlist{
    align-self: center;
  }
}
body {
  background: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgb(7, 1, 17) 51%,
    rgb(14, 1, 37) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

#botoes img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;
  filter :invert(1)
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 38px;

  font-family: 'Work Sans', sans-serif;
}

header button {
  margin-right: 10px;
}

h1 {
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.playlists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 40px;
}

.playlist{
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  order: 4;
}

.playlist img{
  width: 50%;
  height: 50%;
}