body {
  margin: 10px;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(224, 224, 224) 50%,
    rgb(112, 112, 112) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

html{
  padding-left: 15px;
}

header button img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;

  filter :invert(1)
}


.col {
  float: left;
  margin: 7px;
}

.col img:hover {
  border: 1px solid rgb(0, 235, 0);
}

.col img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #555555 !important;
}

header button {
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}