body {
  background: rgb(19, 19, 19);
  background: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgb(7, 1, 17) 51%,
    rgb(14, 1, 37) 100%
  );
}

img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 38px;
}

p {
  margin-top: 10px;
  text-align: center;
  visibility: hidden;
}

header button {
  margin-right: 10px;
}

.playlist{
    border-radius: 10px;
}