body {
  background: rgb(19, 19, 19);
  background: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgb(7, 1, 17) 51%,
    rgb(14, 1, 37) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;
  filter :invert(1)
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 38px;

  font-family: 'Roboto Mono', monospace;
}

header button {
  margin-right: 10px;
}

p {
  text-align: center;
  color: white;

  font-family: 'Roboto Mono', monospace;
}

.playlist{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}